.home-container {
  background: rgb(232, 231, 228);
  text-align: center;
  padding: 16px;

  .home-router {
    padding: 16px;
  }

  .home-route-buttons {
    padding: 16px;
  }

  .home-route-button {
    padding: 16px;
  }
}