.home-container {
  background: rgb(232, 231, 228);
  text-align: center;
  padding: 16px;

  .competition-selection-drop-down {
    padding: 8px 0;
  }

  .home-router {
    padding: 16px;
  }

  .public-route-buttons {
    padding: 8px 0;
  }

  .admin-route-buttons {
    padding: 8px 0;
    display: flex;
    justify-content: space-evenly;
  }

  .home-route-button {
    width: 200px;
  }
}