.sidebar-container {
  max-width: 250px;
  background: rgb(123, 93, 151);
  display: inline-block;

  #homeLogo:hover {
    cursor: pointer;
  }

  .sidenavButton {
    width: 100%;
    border-radius: 0px;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    text-align: left;
    padding: 8px 8px 8px 32px;
    transition: none;
  }

  .sidenavButton:hover {
    background: none;
    color: #818181;
  }

  .sidenavButton:focus {
    border: none;
    background: none;
    outline: 0;
  }

  .openSidebarComponent {
    text-align: center;
    background: rgb(123, 93, 151);
  }
}