.completedSubmissionCardContainer {
    height: 600px;
    background: linear-gradient(90deg, rgba(123, 93, 151, 1) 35%, rgba(231, 158, 49, 1) 100%);
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftSide {
    padding: 16px;
}

.rightSide {
    padding: 16px;
}

.bandName {
    color: white;
    font-size: 32px;
    letter-spacing: 8px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.citiesRepresented {
    color: rgb(204, 204, 204);
    font-size: 24px;
    letter-spacing: 4px;
    font-style: italic;
    text-align: center;
    width: 100%;
}