.completedSubmissionCardContainer {
    width: 800px;
    height: 224px;
    background: #e79e31;
}

.completedSubmissionItemLabel {
    color: rgb(32, 31, 31);
    font-weight: 300;
    font-size: 16px;
    padding-left: 16px;
    width: 25%;
}

.completedSubmissionItemValue {
    color: white;
    font-size: 16px;
    text-align: right;
    width: 75%;
}

.labelValuePair {
    background: #7b5d97;
    height: 48px;
    padding-top: 16px;
}

.bandName {
    color: rgb(97, 96, 96);
    font-size: 32px;
    text-align: center;
    letter-spacing: 8px;
    font-weight: 300;
}